@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/font/Gilroy-Light.otf');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .zoom {
    transition: 0.3s all;
  }

  .zoom:active {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.9);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Gilroy';
}

.switch {
  display: block;
  width: 52px;
  height: 32px;
  background: #323131;
  border-radius: 16px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}



.switch::after {
  content: '';
  height: 28px;
  width: 28px;
  background: #B4B4B4;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: left 0.2s ease-in-out;
}

.switch-input {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  max-width: 0;
  max-height: 0;
  opacity: 0;
}

.switch__active::after {
  @apply bg-accent dark:bg-accent-dark;
  left: 22px;
}