@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mulish';
  src: url('./assets/font/Mulish-Medium.ttf');
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .zoom {
    transition: 0.3s all;
  }

  .zoom:active {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.9);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Mulish';
}
